    
body {
    background: black;
    height: 900px;
}

#macro {
    color:darkgreen;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}
#main {
    margin-top: 10px;
    margin-bottom: 10px;
}
#cli {
    font-family: 'Major Mono Display', monospace;
    font-size: 16px;
    color: #fff;
    background-color: #000;
    padding: 10px;
    border-width: 2px;
}
#input-line {
    width: 100%;
    border: none;
    background-color: #000;
    color: #fff;
    height: 20px;
    font-family: 'Major Mono Display', monospace;
    font-size: 16px;
    overflow: hidden;
    resize: none;
    outline: none;
    cursor: default;
    padding-bottom: 2px;
}
#input-line #input-guest {
    margin-right: -7px;
    color:#267e11;
}
#input-line #input-white {
    margin-right: -7px;
    color: #ffffff;
}
#input-line #input-blue {
    margin-right: -7px;
    color: #3227d4;
}
#input-line #input-dollar {
    margin-right: 3px;
    color: #ffffff;
}
#input-user {
    width: 70%;
    border: none;
    background-color: #000;
    color: #fff;
    height: 20px;
    font-family: 'Major Mono Display', monospace;
    font-size: 16px;
    overflow: hidden;
    resize: none;
    outline: none;
    cursor: default;
    margin-left: -2px;
}
#output {
    margin-bottom: -1px;
}

@media (max-width: 600px) {
    body {
        height: 900px;
    }
    #macro {
        color:darkgreen;
        font-size: 14px;
    }
    #main {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 16px;
    }
    #cli {
        font-family: 'Major Mono Display', monospace;
        font-size: 16px;
        color: #fff;
        background-color: #000;
        padding: 10px;
        border-width: 2px;
    }
    #input-line {
        width: 100%;
        border: none;
        background-color: #000;
        color: #fff;
        height: 20px;
        font-family: 'Major Mono Display', monospace;
        font-size: 16px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        resize: none;
        outline: none;
        cursor: default;
        padding-bottom: 2px;
    }
    #input-line #input-guest {
        margin-right: -9px;
        color:#267e11;
    }
    #input-line #input-white {
        margin-right: -9px;
        color: #ffffff;
    }
    #input-line #input-blue {
        margin-right: -7px;
        color: #3227d4;
    }
    #input-line #input-dollar {
        margin-right: 3px;
        color: #ffffff;
        display: inline-block;
    }
    #input-user {
        width: 50%;
        border: none;
        background-color: #000;
        color: #fff;
        height: 20px;
        font-family: 'Major Mono Display', monospace;
        font-size: 16px;
        overflow: hidden;
        resize: none;
        outline: none;
        cursor: default;
        margin-left: -2px;   
        display: inline-block;
    }
    #output {
        margin-bottom: -1px;
    }

  }